<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Dashboard</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <section layout:fragment="header">
            <h1>
                PAINEL
                <small>Lista de Condominios</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Condominios</strong>
            </div>
            <div layout:fragment="content">                
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>Endereço</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="condominio : ${listaDeCondominio}">  
                                    <td th:text="${condominio.id}"></td>
                                    <td th:text="${condominio.nome}"></td>
                                    <td th:text="${condominio.endereco}"></td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            <a class="btn btn-sm btn-primary" th:href="@{/condominios/editar/{id}(id=${condominio.id})}" >Editar</a>
                                            <a class="delete btn btn-sm btn-danger" th:href="@{/condominios/deletar/{id}(id=${condominio.id})}">Excluir</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                </div>
                <div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{/condominios/condominioAdd/}" >Adicionar</a>
		</div>
            </div>
    </body>
</html>
