<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <section layout:fragment="header">
            <h1>
                Sistcon
                <small>Painel de Controle de Usuários</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"style="font-size: 20px"></i>Home</a></li>
                <li class="active">Início</li>
            </ol>
        </section>
        <div layout:fragment="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-light-blue-active">
                        <div class="inner">
                             <h2 class="text-center"style="font-size: 30px">Meus Dados</h2>

                           <!--<p>Meus Dados</p> -->
                        </div>
                        <!--<div class="icon">
                            <i class="ion ion-bag"></i>
                        </div> -->
                        <a href="#" class="small-box-footer"><i class="fa fa-folder"style="font-size: 30px"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-light-blue-active">
                        <div class="inner">
                             <h2 class="text-center"style="font-size: 30px">Mural de Recados</h2>
  
                        </div>
                        
                        <a href="#" class="small-box-footer"><i class="fa fa-bullhorn"style="font-size: 30px"></i></a>
                    </div>
                </div>
                
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-light-blue-active">
                        <div class="inner">
                            <!--<h3>3<sup style="font-size: 20px"></sup></h3> -->
                            <h2 class="text-center"style="font-size: 30px">Galeria de Fotos</h2>
                         
                        </div>
                        
                       <a href="#" class="small-box-footer"><i class="fa fa-image"style="font-size: 30px"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-light-blue-active">
                        <div class="inner">
                          <h2 class="text-center"style="font-size: 30px">Contas</h2>

                        </div>
                        
                        <a href="#" class="small-box-footer"><i class="fa fa-edit"style="font-size: 30px"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-light-blue-active">
                        <div class="inner">
                           <h2 class="text-center"style="font-size: 30px">Documentos</h2>

                            
                        </div>
                        <a href="#" class="small-box-footer"><i class="fa fa-file"style="font-size: 30px"></i></a>
                    </div>
                </div>
                <!-- ./col -->

                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-light-blue-active">
                        <div class="inner">
                            
                             <h2 class="text-center"style="font-size: 30px">Reservas de Áreas</h2>
                            
                        </div>
                        
                        <a href="#" class="small-box-footer"><i class="fa fa-calendar"style="font-size: 30px"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-light-blue-active">
                        <div class="inner">
                            <h2 class="text-center"style="font-size: 30px">Entre em Contato</h2>

                            
                        </div>
                        
                        <a href="#" class="small-box-footer"><i class="fa fa-at"style="font-size: 30px"></i></a>
                    </div>
                </div>
                
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-light-blue-active">
                        <div class="inner">
                            <h2 class="text-center"style="font-size: 30px">Telefones Úteis</h2>

                            
                        </div>
                        
                         <a href="#" class="small-box-footer"><i class="fa fa-phone"style="font-size: 30px"></i></a>
                    </div>
                  </div>
                
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-light-blue-active">
                            <div class="inner">
                                <h2 class="text-center"style="font-size: 30px">Consumo</h2>

                                
                            </div>
                            
                            <a href="#" class="small-box-footer"><i class="fa fa-area-chart"style="font-size: 30px"></i></a>
                        </div>
                    </div>
                    
                    <!-- ./col -->
                   
                    <!-- ./col -->
              
                    <!-- ./col -->
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->

            <!-- /.row (main row) -->
        
    </body>
</html>